{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}

{% block body %}
<div id="widget-{{slot}}" class="add-widget vic-menuWidget">
    <div id="picker-static" class="vic-tab-pane vic-active vic-form-group">
        {{ form_start(form) }}
            <div class="menus" data-prototype="{{ _self.widget_prototype(form.items.vars.prototype)|e }}">
                {{ form_errors(form) }}

                <div class="form-group vic-menuWidget-name">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
                </div>

                <ul class="vic-menuWidget-itemList" id="menu-items">
                    {% for item in form.items %}
                        <li class='vic-form-group'>
                            {{ _self.widget_prototype(item, loop.index0) }}
                        </li>
                    {% endfor %}

                    <div class='vic-form-group vic-add_menu_sibling-Container'>
                        <span><a href="#" onclick="addRow(this);return false;" class="add_menu_link vic-btn vic-btn-default add_menu_sibling"><i class="fa fa-plus"></i></a></span>
                    </div>
                </ul>
            </div>
            {{form_errors(form)}}
            {# Add this line to set the widget as rendered to not display it twice in form_rest #}
            {% do form.items.setRendered %}

            <div class="vic-menuWidget-rest">
                {{form_rest(form)}}
            </div>
        {{ form_end(form) }}
    </div>
</div>

<script type="text/javascript">
    $vic(document).ready(function() {
        menus = new Array();
        prototype = $vic('div.menus').attr('data-prototype');

        //for the existing menus, we generate the js menus
        initMenus();

        $vic(".vic-menuWidget-itemList").sortable({
            items: "> li",
            placeholder: "vic-ui-state-highlight",
            update: function (event, ui)
            {
                pos = 0;
                $vic(this).children().each(function (){
                    $vic('[data-type="position"]', this).val(++pos);
                });
            },
            create: function (event, ui)
            {
                pos = 0;
                $vic(this).children().each(function ()
                {
                    $vic('[data-type="position"]', this).val(++pos);
                });
            }
        });
    });
</script>

{% endblock body %}

{% macro widget_prototype(form, index) %}
<div class='vic-form-group vic-menuWidget-item-formGroup'>
    {{ form_widget(form.title, {'attr': {'placeholder': form.title.vars.label, 'class': 'vic-menuWidget-formControl'}}) }}
    {{ form_widget(form.link.linkType, {'attr': {'class': 'vic-menuWidget-formControl victoire-linkType'}}) }}

    {% if index == null and index != 0 %}
        {% set menuId = '__menu_id__' %}
    {% else %}
        {% set menuId = index %}
    {% endif %}
    <span class="page-type vic-hidden">
        {{ form_widget(form.link.page, {'attr': {'class': 'vic-menuWidget-formControl'}}) }}
    </span>
    <span class="url-type vic-hidden">
        {{ form_widget(form.link.url, {'attr': {'placeholder': form.link.url.vars.label, 'class': 'vic-menuWidget-formControl'}}) }}
    </span>
    <span class="route-type vic-hidden">
        {{ form_widget(form.link.route, {'attr': {'placeholder': form.link.route.vars.label, 'class': 'vic-menuWidget-formControl'}}) }}
        {{ form_widget(form.link.route_parameters, {'attr': {'placeholder': form.link.route_parameters.vars.label, 'class': 'vic-menuWidget-formControl'}}) }}
    </span>
    <span class="attachedWidget-type vic-hidden">
        {{ form_widget(form.link.attachedWidget, {'attr': {'class': 'vic-menuWidget-formControl'}}) }}
    </span>
    <span>
        {{ form_widget(form.link.target, {'attr': {'class': 'vic-menuWidget-formControl'}}) }}
    </span>
    <span>
        <a onclick="deleteRow(this);return false;" href="#" class="vic-btn vic-btn-danger vic-menuWidget-btn vic-menuWidget-deleteRow vic-btn" ><i class="fa fa-trash-o"></i></a>
    </span>
    <ul id="menu-{{ menuId }}" data-index="{{ index }}">
        <div class='vic-form-group'>
            {% if form.items is defined %}
                {% for item in form.items %}
                    <li>
                        {{ _self.widget_prototype(item, loop.index0) }}
                    </li>
                {% endfor %}
            {% endif %}
        </div>
        <div class='add_menu_link-container'>
            <span><a href="#" onclick="addRow(this);return false;" class="vic-btn vic-menuWidget-btn vic-btn-default add_menu_link"></a></span>
        </div>
    </ul>
    {{ form_rest(form) }}
</div>

<script type="text/javascript">
    showSelectedLinkType($vic('#{{form.link.linkType.vars.id}}'))
</script>

{% endmacro %}
