{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}
{% import _self as macros %}
{% block body %}
<div id="widget-{{ slot }}" class="add-widget vic-menuWidget">
    <div id="picker-static" class="vic-tab-pane vic-active vic-form-group">
        {{ form_start(form) }}

        <div class="menus overflow-hidden" data-prototype="{{ macros.widget_prototype(form.items.vars.prototype)|e }}" role="menu" data-init="true" data-menu="0" data-index="0">
            {{ form_errors(form) }}

            <div class="row" id="vic-menuform-header">
                <div class="col-md-3 col-sm-4">
                    {{ form_row(form.name) }}
                </div>
            </div>

            <ul class="vic-clearfix vic-menuform-list" role="menu-container">
                {% for item in form.items %}
                {{ macros.widget_prototype(item, loop.index0) }}
                {% endfor %}
            </ul>

            <div class='vic-form-group vic-add_menu_sibling-Container'>
                <div class="row">
                    <div class="col-sm-3">
                        <a class="vic-btn vic-btn-success" href="#" onclick="addRootItem(this);return false;">
                            {% spaceless %}
                            <i class="fa fa-plus-circle"></i>
                            {{ ('widget.menu.add_category.label')|trans({}, 'victoire') }}
                            {% endspaceless %}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {{ form_errors(form) }}

        {# Add this line to set the widget as rendered to not display it twice in form_rest #}
        {% do form.items.setRendered %}

        <div class="vic-menuWidget-rest">
            {{ form_rest(form) }}
        </div>

        {{ form_end(form) }}
    </div>
</div>

<script type="text/javascript">
    $vic(document).ready(function() {
        menus = new Array();

        //for the existing menus, we generate the js menus
        initMenus('form[name="{{ form.vars.name }}"]');

        $vic('form[name="{{ form.vars.name }}"]  .vic-menuform-list').sortable({
            items: "> li",
            placeholder: "vic-ui-state-highlight",
            update: function (event, ui)
            {
                pos = 0;
                $vic(this).children().each(function (){
                    $vic('[data-type="position"]', this).val(++pos);
                });
            },
            create: function (event, ui)
            {
                pos = 0;
                $vic(this).children().each(function ()
                {
                    $vic('[data-type="position"]', this).val(++pos);
                });
            }
        });

        $(document).on('submit', 'form[name="{{ form.vars.name }}"]', function() {
            var sorted = $vic($('.vic-menuform-list')).nestedSortable("toArray");
        })
    });
</script>
{% endblock body %}



{% macro widget_prototype(form, index) %}
    {% import _self as macros %}
<li class="vic-menuform-listitem vic-clearfix" role="menu" data-index="{{ index is not null ? index : '__menu_index__' }}" data-menu="__menu_id__" data-init="false">
    {{ macros.link_render_form(form) }}

    <ul class="vic-menuform-list -sublist vic-clearfix" role="menu-container">
        {% if form.items is defined %}
            {% for item in form.items %}
            {{ macros.widget_prototype(item, loop.index0) }}
            {% endfor %}
        {% endif %}
    </ul>

    {{ form_rest(form) }}
</li>
{% endmacro %}



{% macro link_render_form(form) %}
    <div class="vic-menuform-listitemform vic-clearfix">
        {% spaceless %}
        <div class="vic-menuform-moveicon">
            <img src="{{ asset('bundles/victoirecore/images/move_cross.png') }}" height="20">
        </div>
        <div>
            {{ form_widget(form.title, {'attr': {'placeholder': form.title.vars.label, 'class': '-menuform' }}) }}
        </div>

        <div class="-menuform linkForm">
            {{ form_widget(form.link) }}
        </div>

        <div>
            <a href="#" onclick="addRow(this);return false;" class="vic-btn vic-btn-default add_menu_link -square">
                <i class="fa fa-level-up fa-rotate-90"></i>
            </a>
        </div>

        <div>
            <a onclick="deleteRow(this);return false;" href="#" class="vic-btn vic-btn-danger vic-menuWidget-btn vic-menuWidget-deleteRow -square -framed">
                <i class="fa fa-trash-o"></i>
            </a>
        </div>
        {% endspaceless %}
    </div>
{% endmacro %}
