{% block body %}

{#
   _   _   _   _   _   _   _
  / \ / \ / \ / \ / \ / \ / \
 ( C ) o ) m ) m ) o ) n ) s )
  \_/ \_/ \_/ \_/ \_/ \_/ \_/

#}
<div class="vic-widget vic-widget-menu" id="widget-{{widget.id}}">
{% block actions %}{{cms_widget_actions(widget)}}{% endblock actions %}

{% block content %}

<nav class="navbar navbar-{{ widget.slug }}" role="navigation">
  <!-- toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        {{ _self.render_children(widget) }}
    </ul>

  </div><!-- /.navbar-collapse -->
</nav>

{% endblock content %}
</div>

{% endblock body %}
{% macro render_children(widget, depth = 0) %}
    {% for item in widget.children %}
        {% if item.children|length > 0 %}
            <li class="vic-dropdown {% if depth > 0 %}submenu{% endif %}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }} <b class="caret"></b></a>
                <ul class="dropdown-menu {% if depth > 0 %}submenu-show submenu-hide{% endif %}">
                    {{_self.render_children(item, depth + 1)}}
                </ul>
            </li>
        {% else %}
            {{ _self.render_link(item) }}
        {% endif %}

    {% endfor %}

{% endmacro %}
{% macro render_link(item) %}
{% if item.url %}
            <li><a href="{{item.url}}">{{item.title}}</a></li>
{% elseif item.page %}
            <li><a href="{{item.page.url}}">{{item.title}}</a></li>
{% endif %}
{% endmacro %}

{% macro render_dropdown_link(item, depth) %}
{% if item.url %}
        <a href="{{item.url}}">{{item.title}} {% if depth == 0 %}<b class="caret"></b>{% endif %}</a>
{% elseif item.page %}
        <a href="{{item.page.url}}">{{item.title}} {% if depth == 0 %}<b class="caret"></b>{% endif %}</a>
{% endif %}
{% endmacro %}

{% if app.request.isXmlHttpRequest %}
<script type="text/javascript">
    $(document).ready(function() {
        initSubMenu();
    });
</script>
{% endif %}
